<div class="container mt-3">
  <div class="my-3 mx-auto">
    <form action="/" class="row form-inline justify-content-end">
      <div class="form-group row col-auto">
        <label for="category" class="col-form-label">類別：</label>
        <select class="custom-select mr-2 col-6" name="category" id="category">
          <option value="">全部</option>
          <option value="家居物業">家居物業</option>
          <option value="交通出行">交通出行</option>
          <option value="休閒娛樂">休閒娛樂</option>
          <option value="餐飲食品">餐飲食品</option>
          <option value="其他">其他</option>
        </select>
      </div>
      <div class="form-group row col-auto">
        <label for="month" class="col-form-label">月份：</label>
        <input type="month" name="month" class="form-control col-9" id="month" min="2020-03" value="{{month}}">
      </div>
      <div class="col-auto mb-3 mb-sm-1">
        <button class="btn btn-primary">查詢</button>
      </div>
    </form>
  </div>
</div>




<form action="/?_method=PUT" method="POST">
  <div class="form-group">
    <label for="Date">Date</label>
    <input type="date" id="date" name="date" class="form-control" value="{{ expense.date }}" required>
  </div>
  <div class="form-group">
    <select class="custom-select" name="category" id="category" required>
      <option value="家居物業" {{#if (isEqual expense.category "家居物業" )}}selected{{/if}}>家居物業</option>
      <option value="交通出行" {{#if (isEqual expense.category "交通出行" )}}selected{{/if}}>交通出行</option>
      <option value="休閒娛樂" {{#if (isEqual expense.category "休閒娛樂" )}}selected{{/if}}>休閒娛樂</option>
      <option value="餐飲食品" {{#if (isEqual expense.category "餐飲食品" )}}selected{{/if}}>餐飲食品</option>
      <option value="其他" {{#if (isEqual expense.category "其他" )}}selected{{/if}}>其他</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary btn-block">查詢</button>
</form>





{{#if expenses}}
<div class="row mx-auto justify-content-center my-4">
  <div class="col-7 d-flex flex-row justify-content-center">
    <div class="mr-3" style="font-size: 25px;">Total Amount：</div>
    <h1 style="color:	#375a7f">${{totalAmount}}</h1>
  </div>
</div>
{{else}}
<div class="row mx-auto text-center mt-5">
  <h1 class="col-12" style="color:#666666">還沒有任何紀錄喔~</h1>
</div>
{{/if}}

<ul class="list-group">
  {{#each expenses}}
  <li class="list-group-item my-1" style="box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2); border-radius: 10px;">
    <div class="row mx-auto">
      <div class="col-9 row align-items-center">
        <div class="col-2 col-lg-1 text-center" style="font-size: 30px; ">
          <i class="{{this.icon}}"></i>
        </div>
        <div class="col-6 col-lg-8 d-flex flex-column">
          <div>
            <h4>{{this.name}}</h4>
          </div>
          <div>{{this.date}}</div>
        </div>
        <div class="col-auto align-items-center">
          ${{this.amount}}
        </div>
      </div>
      <div class="col-3 text-right align-self-center " style="display: inline-flex;
    justify-content: flex-end;">
        <a href="/expense/{{this._id}}/edit">
          <button class="btn btn-success mr-2 my-1">修改</button>
        </a>
        <form action="./expense/{{ this._id }}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger mr-2 my-1 delete-btn"
            onclick="javascript:return del();">刪除</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>
<div>

</div>

<div class=" row mt-5">
  <div class="col-md-6 m-auto" style="display: flex;
    justify-content: space-around;">
    <a href="/new" class="btn btn-outline-light"
      style="background-color: #375a7f; color:#ffffff ; margin:10px auto ; width:250px">新增支出</a>
  </div>
</div>
</div>




<script>
  function del() {
    const msg = "真的確定要刪除嗎？\n\n刪除後無法復原！";
    if (confirm(msg) == true) {
      return true;
    } else {
      return false;
    }
  }
</script>